{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title">{{ page.name }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ asset('assets/img/company-building.jpg') }}" alt="">
                        </div>
                        <div class="col-md-4">
                            {{ page.text }}
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-6">
                                    <img class="sponsor-image-homepage" src="{{ asset('assets/img/louis_vuitton_headsponsor.png') }}" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="sponsor-image-homepage" src="{{ asset('assets/img/rolex_headsponsor.png') }}" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="sponsor-image-homepage" src="{{ asset('assets/img/rolls_royce_headsponsor.png') }}" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="sponsor-image-homepage" src="{{ asset('assets/img/gucci_headsponsor.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
