{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title">Log in</h1>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card">
        <form method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           placeholder="Email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Password"
                           required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <a href="{{ path('forgotten_password') }}">Forgot password?</a>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>
        </form>
    </div>
{% endblock %}
