<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Password recovery{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{{ asset('assets/img/header-brand-logo.png') }}">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/tabler.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="/assets/js/vendors/jquery.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.min.js"></script>
    <script src="/assets/js/tabler.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.9/sweetalert2.all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css"/>
</head>
<body>
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img src="{{ asset('assets/img/header-brand-logo.png') }}" class="h-9" alt="">
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="card">
                        <div class="card-body p-6">
                            <div class="card-title">Forgot password</div>
                            <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
                            {{ form_start(form) }}
                            <div class="form-group">
                                <label class="form-label-sm">Email address</label>
                                {{ form_row(form.email) }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-primary">Reset password</button>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="text-center text-muted"><a href="{{ path('app_login') }}">Go back</a> to login</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row col-4">
            <h1>SSDL</h1>
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
