<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="/home">
                <img src="{{ asset('assets/img/header-brand-logo.png') }}" class="header-brand-img" alt="">SSDL
            </a>
            <div class="d-flex order-lg-2 ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <div class="dropdown">
                        <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                            <span class="avatar">{{ app.user.username|slice(0, 1)|upper }}</span>
                            <span class="ml-2 d-none d-lg-block">
                          <span class="text-default">{{ app.user.username }}</span>
                        </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <i class="dropdown-icon fa fa-sign-out"></i> Uitloggen
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
               data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            {% if not app.user %}
                <div class="col-lg-3 ml-auto text-right">
                    <a href="{{ path('app_login') }}" class="my-3 my-lg-0 text-gray"><i class="fa fa-sign-in"></i>
                        Inloggen</a>
                </div>
            {% endif %}
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    {% if is_granted('ROLE_ADMIN') %}
                        {% for page in pages %}
                            <li class="nav-item">
                                <a href="/{{ page.name }}/page" class="nav-link">{{ page.name }}</a>
                            </li>
                        {% endfor %}
                    {% elseif is_granted('ROLE_USER') %}
                        {% for page in pages %}
                            {% if page.visibleTo == 'anyone' or page.visibleTo == 'member' %}
                                <li class="nav-item">
                                    <a href="/{{ page.name }}/page" class="nav-link">{{ page.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for page in pages %}
                            {% if page.visibleTo == 'anyone' %}
                                <li class="nav-item">
                                    <a href="/{{ page.name }}/page" class="nav-link">{{ page.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a href="{{ path('admin') }}" class="nav-link">Beheer</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>